#whole-background{

}
#headbar{
    width: 100%;
    position: relative;

}
#tags{
    width: 100%;
    position: relative;
    border-bottom: solid;
    border-color: #337ab7;
    border-width: 2px;
    margin-top: -20px;
}
.subtag{
    border-radius: 0px;
}
.result1{
    width: 100%;
    position: relative;

}
#progressbar{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    display: none;
}
.tab-content{
    display: none;
}
#details{
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}
#details-head{
    position: relative;
    width: 100%;
    height: 40px;
}
#details-body{
    position: relative;
    width: 100%;
    padding:10px ;
}

#details-body-left{
    position: relative;;
    float: left;
    width: 100%;

}

#details-body-right{
    position: relative;;
    float: right;
    width: 100%;
}




.slide_panel{
    overflow: auto;
    position: absolute;
    width:100%;
    top: 50px;
}

.cslass1{
    right: 0;
}

.cslass2{
    right: 1000px;
}


.cslass1-add, .cslass1-remove {
    transition: all ease-in-out 1s;
}


.cslass2-add, .cslass2-remove  {
    transition: all ease-in-out 1s;
}