<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB search</title>
    <link rel="stylesheet" href="fb.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="whole-background" ng-app="myApp" ng-controller="fbController">
    <div id="headbar">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img alt="FB Search" src="...">
                </a>
                <form class="navbar-form navbar-left" role="search" >
                    <div class="form-group" style="width: 300px">
                        <input ng-model="keyword" type="text" class="form-control" placeholder="Search" style="border-radius: 0px;width:100%">
                    </div>
                    <button type="submit" class="btn btn-primary"style="border-radius: 0px" ng-click="search()">&nbsp;&nbsp; <span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span></button>
                    <button type="submit" class="btn btn-default"style="border-radius: 0px" ng-click="reset()" >Clear</button>
                </form>
            </div>
        </nav>
    </div>
    <div id="tags">
        <ul class="nav nav-pills nav-justified" role="tablist" >
            <li class="active" style="border-radius: 0px" id="tuser"role="presentation"><a style="border-radius: 0px" href="#user" data-toggle="tab">Users</a></li>
            <li role="presentation"><a href="#page" style="border-radius: 0px" id="tpage" data-toggle="tab">Pages</a></li>
            <li role="presentation"><a href="#event" style="border-radius: 0px" id="tevent" data-toggle="tab">Events</a></li>
            <li role="presentation"><a href="#place" style="border-radius: 0px" id="tplace" data-toggle="tab">Places</a></li>
            <li role="presentation"><a href="#group" style="border-radius: 0px" id="tgroup" data-toggle="tab">Groups</a></li>
            <li role="presentation"><a href="#favourite" style="border-radius: 0px" id="tfavourite" data-toggle="tab">Favourites</a></li>
        </ul>
    </div>


    <!--{{keyword}}-->
    <!--{{lat}}-->
    <div class="progress"  id ='progressbar'>
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
    {{favstorage}}
<!--user-->
    <!--{{placepage.pre}}-->
    <!--{{placepage.next}}-->
    <div class="tab-content" id="tc">
    <div id="user" class="tab-pane fade in active">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                  <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in users">
                <td>{{user.num}}</td>
                <td><img src="{{user.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ user.name }}</td>
                <td><button class="btn btn-default" type="button"   ng-click="storage(user.id,'user')"><span class="glyphicon glyphicon-star-empty"></span></button></td>
                <td><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button></td>
            </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li ng-if="userpage.pre" ng-click="userpreviouspage()"><a href="#user" >Previous</a></li>
            <li ng-if="userpage.nex" ng-click="usernextpage()"><a href="#user" >Next</a></li>
        </ul>
    </div>

<!--page-->

    <div id="page"  class="tab-pane fade">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in pages">
                <td>{{page.num}}</td>
                <td><img src="{{page.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ page.name }}</td>
                <td><button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-star-empty"></span></button></td>
                <td><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button></td>
            </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li ng-if="pagepage.pre" ng-click="pagepreviouspage()"><a href="#page" >Previous</a></li>
            <li ng-if="pagepage.nex" ng-click="pagenextpage()"><a href="#page" >Next</a></li>
        </ul>

    </div>


<!--event-->
    <div id="event" class="tab-pane fade">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in events">
                <td>{{event.num}}</td>
                <td><img src="{{event.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ event.name }}</td>
                <td><button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-star-empty"></span></button></td>
                <td><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button></td>
            </tr>
            </tbody>
        </table>
        <ul class="pager">
            <!--<li ng-if="eventpage.pre" ng-click="eventpreviouspage()"><a href="#event" >Previous</a></li>-->
            <li ng-if="eventpage.nex" ng-click="eventnextpage()"><a href="#event" >Next</a></li>
        </ul>

    </div>
<!--place-->
    <div id="place" class="tab-pane fade">

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="place in places">
                <td>{{place.num}}</td>
                <td><img src="{{place.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ place.name }}</td>
                <td><button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-star-empty"></span></button></td>
                <td><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button></td>
            </tr>
            </tbody>
        </table>
        <ul class="pager">
            <!--<li ng-if="placepage.pre" ng-click="placepreviouspage()"><a href="#place" >Previous</a></li>-->
            <li ng-if="placepage.nex" ng-click="placenextpage()"><a href="#place" >Next</a></li>
        </ul>
    </div>
<!--group        -->
    <div id="group" class="tab-pane fade">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups">
                <td>{{group.num}}</td>
                <td><img src="{{group.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ group.name }}</td>
                <td><button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-star-empty"></span></button></td>
                <td><button class="btn btn-default" type="button>"><span class="glyphicon glyphicon-chevron-right"></span></button></td>
            </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li ng-if="grouppage.pre" ng-click="grouppreviouspage()"><a href="#group" >Previous</a></li>
            <li ng-if="grouppage.nex" ng-click="groupnextpage()"><a href="#group" >Next</a></li>
        </ul>
        </ul>
    </div>
<!--facourite        -->
    <div id="favourite" class="tab-pane fade" ></div>
</div>
</div>
<script src="fb.js"></script>
</body>
</html>