<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FB search</title>
    <link rel="stylesheet" href="fb.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-animate.js"></script>
</head>
<body>
<div id="whole-background" ng-app="myApp" ng-controller="fbController">
        <nav class="navbar navbar-default">
            <div class="container" >
                <div class="row" style="padding-bottom: 6px">
                    <div class="col-md-3" style="margin-top: 10px">
                      <a  href="#" style="font-size: 2em;">
                         <img  alt="FB Search" src="">
                     </a>
                    </div>
                    <div class="col-md-9">
                        <form role="search" >
                            <div class="form-group" >
                                <input ng-model="keyword" required  type="text" class="form-control" placeholder="type something..." style="border-radius: 0px;width:70%;height: 40px;position: relative;float: left">
                                <button type="submit" class="btn btn-primary"style="border-radius: 0px;position: relative;float: left;width: 8%;height: 40px;" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                <button type="submit" class="btn btn-default"style="border-radius: 0px;position: relative;float: left; margin-left: 10px;height: 40px" ng-click="reset()" >Clear</button>
                            </div>

                        </form>
                    </div>
            </div>
            </div>
        </nav>
    <div id="tags">
        <ul class="nav nav-pills nav-justified" role="tablist" >
            <li class="active" style="border-radius: 0px" id="tuser"role="presentation" ng-click="goback()"><a style="border-radius: 0px" href="#user" data-toggle="tab">Users</a></li>
            <li role="presentation" ng-click="goback()"><a href="#page" style="border-radius: 0px" id="tpage" data-toggle="tab">Pages</a></li>
            <li role="presentation" ng-click="goback()"><a href="#event" style="border-radius: 0px" id="tevent" data-toggle="tab">Events</a></li>
            <li role="presentation" ng-click="goback()"><a href="#place" style="border-radius: 0px" id="tplace" data-toggle="tab">Places</a></li>
            <li role="presentation" ng-click="goback()"><a href="#group" style="border-radius: 0px" id="tgroup" data-toggle="tab">Groups</a></li>
            <li role="presentation" ng-click="showfav()"><a href="#favourite" style="border-radius: 0px" id="tfavourite" data-toggle="tab">Favourites</a></li>
        </ul>
    </div>


    <!--{{keyword}}-->
    <!--{{lat}}-->
    <div class="progress"  id ='progressbar'>
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
    <!--{{fall}}-->
    <!--{{favstorage}}-->
<!--user-->
    <!--{{placepage.pre}}-->
    <!--{{placepage.next}}-->
    <!--{{detailfavored}}-->
    <div class="tab-content" id="tc">
    <div id="user" class="tab-pane fade in active">
        <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                  <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in users">
                <td>{{user.num}}</td>
                <td><img src="{{user.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ user.name }}</td>
                <td><button class="btn btn-default" type="button"   ng-click="storage(user.id,'user',user)">

                    <span ng-if="user.favored"class="glyphicon glyphicon-star" id="{{user.id}}" style="color: gold; "> </span>
                    <span ng-if="!user.favored" class="glyphicon glyphicon-star-empty" id="{{user.id}}"> </span>
                </button></td>
                <td><button class="btn btn-default" type="button" ng-click="detailsearch(user.id,user.name,user.picurl,'user')"><span class="glyphicon glyphicon-chevron-right" ></span></button></td>
            </tr>
            </tbody>
        </table></div>
        <ul class="pager">
            <li ng-if="userpage.pre" ng-click="userpreviouspage()"><a href="#user" >Previous</a></li>
            <li ng-if="userpage.nex" ng-click="usernextpage()"><a href="#user" >Next</a></li>
        </ul>
    </div>

<!--page-->

    <div id="page"  class="tab-pane fade">
        <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="page in pages">
                <td>{{page.num}}</td>
                <td><img src="{{page.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ page.name }}</td>
                <td><button class="btn btn-default" type="button"   ng-click="storage(page.id,'page',page)">

                    <span ng-if="page.favored"class="glyphicon glyphicon-star" id="{{page.id}}" style="color: gold; "> </span>
                    <span ng-if="!page.favored" class="glyphicon glyphicon-star-empty" id="{{page.id}}"> </span>
                </button></td>
                <td><button class="btn btn-default" type="button" ng-click="detailsearch(page.id,page.name,page.picurl,'page')"><span class="glyphicon glyphicon-chevron-right" ></span></button></td>
            </tr>
            </tbody>
        </table>
        </div>
        <ul class="pager">
            <li ng-if="pagepage.pre" ng-click="pagepreviouspage()"><a href="#page" >Previous</a></li>
            <li ng-if="pagepage.nex" ng-click="pagenextpage()"><a href="#page" >Next</a></li>
        </ul>

    </div>


<!--event-->
    <div id="event" class="tab-pane fade">
        <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="event in events">
                <td>{{event.num}}</td>
                <td><img src="{{event.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ event.name }}</td>
                <td><button class="btn btn-default" type="button"   ng-click="storage(event.id,'event',event)">
                    <span ng-if="event.favored"class="glyphicon glyphicon-star" id="{{event.id}}" style="color: gold; "> </span>
                    <span ng-if="!event.favored" class="glyphicon glyphicon-star-empty" id="{{event.id}}"> </span>
                </button></td>
                <td><button class="btn btn-default" type="button" ng-click="detailsearch(event.id,event.name,event.picurl,'event')"><span class="glyphicon glyphicon-chevron-right" ></span></button></td>
            </tr>
            </tbody>
        </table>
        </div>
        <ul class="pager">
            <li ng-if="eventpage.pre" ng-click="eventpreviouspage()"><a href="#event" >Previous</a></li>
            <li ng-if="eventpage.nex" ng-click="eventnextpage()"><a href="#event" >Next</a></li>
        </ul>

    </div>
<!--place-->
    <div id="place" class="tab-pane fade">
        <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="place in places">
                <td>{{place.num}}</td>
                <td><img src="{{place.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ place.name }}</td>
                <td><button class="btn btn-default" type="button"   ng-click="storage(place.id,'place',place)">

                    <span ng-if="place.favored"class="glyphicon glyphicon-star" id="{{place.id}}" style="color: gold; "> </span>
                    <span ng-if="!place.favored" class="glyphicon glyphicon-star-empty" id="{{place.id}}"> </span>
                </button></td>
                <td><button class="btn btn-default" type="button" ng-click="detailsearch(place.id,place.name,place.picurl,'place')"><span class="glyphicon glyphicon-chevron-right" ></span></button></td>
            </tr>
            </tbody>
        </table>
        </div>
        <ul class="pager">
            <!--<li ng-if="placepage.pre" ng-click="placepreviouspage()"><a href="#place" >Previous</a></li>-->
            <li ng-if="placepage.nex" ng-click="placenextpage()"><a href="#place" >Next</a></li>
        </ul>
    </div>
<!--group        -->
    <div id="group" class="tab-pane fade">
        <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="group in groups">
                <td>{{group.num}}</td>
                <td><img src="{{group.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ group.name }}</td>
                <td><button class="btn btn-default" type="button"   ng-click="storage(group.id,'group',group)">

                    <span ng-if="group.favored"class="glyphicon glyphicon-star" id="{{group.id}}" style="color: gold; "> </span>
                    <span ng-if="!group.favored" class="glyphicon glyphicon-star-empty" id="{{group.id}}"> </span>
                </button></td>
                <td><button class="btn btn-default" type="button" ng-click="detailsearch(group.id,group.name,group.picurl,'group')"><span class="glyphicon glyphicon-chevron-right" ></span></button></td>
            </tr>
            </tbody>
        </table>
        </div>
        <ul class="pager">
            <li ng-if="grouppage.pre" ng-click="grouppreviouspage()"><a href="#group" >Previous</a></li>
            <li ng-if="grouppage.nex" ng-click="groupnextpage()"><a href="#group" >Next</a></li>
        </ul>
        </ul>
    </div>
<!--facourite-->
    <div id="favourite" class="tab-pane fade" >
        <div class="table-responsive">

        <table class="table table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Type</th>
                <th>Favourite</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fav in fall">
                <td>{{fav.num}}</td>
                <td><img src="{{fav.picurl}}"  class="img-circle" style="width: 64px;height: 64px"></td>
                <td>{{ fav.name }}</td>
                <td>{{fav.type}}</td>
                <td><button class="btn btn-default" type="button" ng-click="trash(fav)" ><span class="glyphicon glyphicon-trash"></span></button></td>
                <td><button class="btn btn-default" type="button>" ng-click="detailsearch(fav.id,fav.name,fav.picurl,'favourite')"><span class="glyphicon glyphicon-chevron-right" ></span></button></td>
            </tr>
            </tbody>
        </table>

    </div>
    </div>
</div>

<!--detail-->
    <div id="details">
        <div id="details-head">
            <button class="btn btn-default" type="button" style="position: relative;float: left" ng-click="goback()"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
            <button class="btn btn-default" type="button"  style="position: relative;float: right"  ng-click="shareFB()"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" width="15px"></button>

            <!--<span ng-if="user.favored"class="glyphicon glyphicon-star" id="{{user.id}}" style="color: gold; "> </span>-->

            <button class="btn btn-default" type="button"  style="position: relative;float: right;margin-right: 20px" ng-click="changedetail()">
                <span ng-if="detailfavored" class="glyphicon glyphicon-star" style="color: gold; "></span>
                <span ng-if="!detailfavored"class="glyphicon glyphicon-star-empty" > </span>
            </button>

        </div>

        <div id="details-body">
            <div class="row">
                <div class="col-md-6">



            <div id="details-body-left">
                <div class="progress"  id ='progressbar-left'>
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div></div>


                <div class="panel panel-default" id="detail-albums">
                    <div class="panel-heading">Albums</div>
                    <div class="panel-body">
                        <div class="well" style="background-color: antiquewhite " ng-if="albums=='' ">
                            No Data Found.
                        </div>
                        <div  ng-if="albums!='' ">
                            <div class="panel-group" id="accordion">
                                <div ng-if='0<albums.length' class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href='#0'>
                                                {{albums[0].name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id='0' class="panel-collapse collapse in">
                                        <div class="panel-body" ng-repeat="pic in albums[0].photos.data">
                                            <img src={{pic.picture}} width="100%">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if='1<albums.length' class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href='#1'>
                                                {{albums[1].name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id='1' class="panel-collapse collapse ">
                                        <div class="panel-body" ng-repeat="pic in albums[1].photos.data">
                                            <img src={{pic.picture}} width="100%">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if='2<albums.length'class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href='#2'>
                                                {{albums[2].name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id='2' class="panel-collapse collapse">
                                        <div class="panel-body" ng-repeat="pic in albums[2].photos.data">
                                            <img src={{pic.picture}} width="100%">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if='3<albums.length'class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href='#3'>
                                                {{albums[3].name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id='3' class="panel-collapse collapse">
                                        <div class="panel-body" ng-repeat="pic in albums[3].photos.data">
                                            <img src={{pic.picture}} width="100%">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if='4<=albums.length'class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href='#4'>
                                                {{albums[4].name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id='4' class="panel-collapse collapse">
                                        <div class="panel-body" ng-repeat="pic in albums[4].photos.data">
                                            <img src={{pic.picture}} width="100%">
                                        </div>
                                    </div>
                                </div>
                            <!--<div ng-repeat="album in albums">-->
                                    <!--<div class="panel panel-default">-->
                                        <!--<div class="panel-heading">-->
                                            <!--<h4 class="panel-title">-->
                                                <!--<a data-toggle="collapse" data-parent="#accordion"-->
                                                   <!--href={{album.showid}}>-->
                                                    <!--{{album.name}}-->
                                                <!--</a>-->
                                            <!--</h4>-->
                                        <!--</div>-->
                                        <!--<div id={{album['id']}} class="panel-collapse collapse in">-->
                                            <!--<div class="panel-body" ng-repeat="pic in album.photos.data">-->
                                                <!--<img src={{pic.picture}}>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                            </div>

                        </div>



                    </div>
                </div>

            </div>
                </div>




            <div class="col-md-6">

            <div id="details-body-right">
                <div class="progress"  id ='progressbar-right'>
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div></div>
                <div class="panel panel-default" id="detail-posts">
                    <div class="panel-heading">Posts</div>
                    <div class="panel-body">
                        <div class="well" style="background-color: antiquewhite;width: 100%" ng-if="posts==''" >
                            No Data Found.
                        </div>
                        <div  ng-if="posts!=''">
                            <div ng-repeat="post in posts">
                                <div class="panel panel-default">
                                <div class="panel-body">
                                    <div style="width: 100%;height: 50px;position: relative;">
                                        <div style="width: 40px;height: 40px;position: relative;float: left"><img style="width: 40px;height: 40px" src={{posts.picurl}}></div>
                                        <div style="height: 40px;position: relative;float: left;margin-left: 30px"><span style="font-weight:bold">{{posts.name}}</span><br/>
                                            <span style="color: grey">{{post.created_time}}</span>
                                        </div>
                                    </div>
                                    {{post.message}}
                                </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
                </div>


        </div>
        </div>

    </div>
</div>
<script src="fb.js"></script>


<script src='http://connect.facebook.net/en_US/all.js'></script>
</body>
</html>